/* page */
#app{
    height: 100%;
    background-color: #F2F6FC;
}
html,body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}
a{
    text-decoration:none
}
.g-center{
    display: table-cell;

    vertical-align: middle;
}
.page{
    margin: 20px 0 0;

    text-align: center;
}

.operation{
    margin-bottom: 20px;
}
.el-input__inner{
    max-width: 340px;;
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.table-expand {
    font-size: 0;
}
.table-expand label {
    width: 120px;
    color: #99a9bf;
}
.table-expand .el-form-item {
    margin-right: 0;
    margin-bottom: 0;
    width: 50%;
}
.fixed_search_input{
    max-width: 125px;
}
.fixed_search_input_datetime{
    max-width: 195px;
}
.el-picker-panel__link-btn:nth-child(1){
    display: none;
  }